.contact-color {
    width: 100%;
    height: 60vh;
    background-color: #07212e;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1.25rem 0;
}
.contact-text h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 0 20px;
    line-height: 4rem;
    letter-spacing: 1px;
}

.list-icon i {
    display: block;
    font-size: 24px;
    margin-right: 15px;
    color: #F28123;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #F28123 dotted;
    border-radius: 999px;
}

.feature-bg {
	position: relative;
  	margin: 150px 0;
	&:after {
		background-image: url(/assets/img/feature-bg.jpg);
		position: absolute;
		right: 0;
		top: 0;
		width: 40%;
		height: 100%;
		content: "";
		background-size: cover;
		background-position: center;
		border-top-left-radius: 5px;
		box-shadow: 0 0 20px #cacaca;
		border-bottom-left-radius: 5px;
	}
}

.shop-banner {
  position: relative;
  background-color: #f5f5f5;
  background-image: url(/assets/img/1.jpg);
  background-size: cover;
  padding: 110px 0px 115px;

  h3 {
    position: relative;
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 0px;
    font-weight: 700;
  }

  .sale-percent {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #F28123;

    span {
      position: relative;
      font-size: 24px;
      line-height: 1.1em;
      color: #051922;
      font-weight: 400;
      text-align: center;
      margin-right: 10px;
      display: inline-block;
    }
  }
}

button{
  background-color: #F28123;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: none !important;
  padding: 18px 25px;
  border-radius: 30px 30px;
  &:hover{
      background-color: #051922;
      color:  #F28123;
  }
}

.list-box {
  overflow: hidden;
  letter-spacing: 0.5px;
}

.list-box .content h3 {
  display: block;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 700;
}

.list-box .content p {
  margin-bottom: 0px;
  opacity: 0.75;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;

}

.list-box .list-icon i {
  display: block;
  font-size: 24px;
  margin-right: 15px;
  color: #F28123;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 60px;
  border: 2px #F28123 dotted;
  border-radius: 999px;
}

.pb-3{
  padding-bottom: 1rem!important;
}
.featured-text h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mt-150{
  margin-top: 150px;
}

// @media (min-width: 768px){
//   .container{
//     max-width: 720px;
//   }
// }

// @media (min-width: 576px){
//   .container {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px){
//   .container {
//     max-width: 720px;
//   }
// }

// @media (min-width: 576px){
//   .container {
//     max-width: 540px;
// }
// }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-title h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #F28123;
  margin: 0 auto;
}
.section-title p {
  font-size: 15px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
  letter-spacing: 0.1px;
  opacity: 0.9;
}
.section-title{
  margin-bottom: 80px;
}
.team-bg-1 {
  background-image: url(/assets/img/team/team-1.jpg);
}

.team-bg-2 {
  background-image: url(/assets/img/team/team-2.jpg);
}

.team-bg-3 {
  background-image: url(/assets/img/team/team-3.jpg);
}


.team-bg {
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-color: #ddd;
}


ul.social-link-team {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;

    a {
      color: #fff;
      background-color: #F28123;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      display: block;
      margin: 5px;
    }
  }
}

ul.social-link-team li a {
  transition: 0.3s;

  &:hover {
    background-color: #051922;
    color: #F28123;
  }
}

.row-team{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 150px;
}

.single-team-item {
  position: relative;
}

.single-team-item h4 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.single-team-item h4 span {
  font-size: 70%;
  display: block;
  margin-top: 10px;
  opacity: 0.7;
}
