<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>See more Details</p>
          <h1>Single Product</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product" style="margin-top: 150px; margin-bottom: 150px">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-img">
          <img [src]="product?.image" style="height: 200%; width: 200%" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="single-product-content ml-5">
          <h3>{{ product?.name }}</h3>
          <p class="single-product-pricing">
            <span>{{ product?.description }}</span>
            {{ product?.price }}
          </p>
          <p>
            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sint
            dignissimos, rem commodi cum voluptatem quae reprehenderit
            repudiandae ea tempora incidunt ipsa, quisquam animi perferendis eos
            eum modi! Tempora, earum. -->

            {{ product?.moreDes }}
          </p>
          <form action="" method="POST">
            <div class="single-product-form">
              <input type="number" placeholder="0" />

              <a
                [routerLink]="['/cart']"
                routerLinkActive="active"
                class="cart-btn"
                style="margin-left: 15px"
                ><i class="fas fa-shopping-cart"></i> Add to Cart</a
              >
              <p><strong>Categories: </strong>{{ product?.category }}</p>
            </div>
          </form>
          <h4>Share:</h4>
          <ul class="product-share">
            <li>
              <a href=""><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-google-plus-g"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products" style="margin-bottom: 150px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span style="color: orange">Related</span> Products</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            fuga quas itaque eveniet beatae optio.
          </p>
        </div>
      </div>
    </div>
    <div class="row product-lists">
      <div
        class="col-lg-4 col-md-6 text-center {{ product.name }}"
        *ngFor="let product of shot(products)"
      >
        <div class="single-product-item">
          <div class="product-image">
            <a [routerLink]="['/product', product.id]"
              ><img
                [src]="product.image"
                alt=""
                style="width: 243px; height: 243px"
            /></a>
          </div>
          <h3>{{ product.name }}</h3>
          <p class="product-price">
            <span>{{ product.description }}</span> {{ product.price }} VND
          </p>

          <a class="cart-btn" [routerLink]="['/cart']" routerLinkActive="active"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end more products -->
